@model HealthStatus.DomainModels.StatusShow
   

<tr>
    <td><span class="badge badge-secondary">@Model.Email</span> </td>
    <td><span class="badge badge-secondary">@Model.Status</span> </td>
    <td><span class="badge badge-secondary">@Model.Date</span> </td>
    <td><span class="badge badge-secondary">@Model.Comments</span> </td>

</tr>